*{
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

/*header*/
header div{
  display: flex;
  flex-basis: 60vw;
}
header div ul{
  display: flex;
}
header div ul li{
  list-style: none;
  margin: 5px;
  padding: 5px;
  margin-left: 20px;
}
header div h2{
  padding: 10px;
  display: inline-block;
  margin-left: 20%;
}
header{
  color: aliceblue;
  font-size: 1.5rem;
  background-color: #53bbbb;
  padding: 20px;
}
a{
  color: aliceblue;
  text-decoration: none;
}
#border{
  border: 2px solid white;
}

/*class One*/
.One {
  color: aliceblue;
  padding: 10px;
  font-size: 2rem;
  background-color: #53bbbb;
}
.One div{
  width: 40vw;
  margin: 20px;
}
button{
  color: aliceblue;
  border: 0;
  border-radius: 25px;
  padding: 10px;
  font-size: 1.3rem;
  background-color: #147e7e;
  width: 10vw;
  margin: 10px;
}


/*class Two*/
.Two div{
  display: flex;
  margin: 20px;
}
.Two div div{
  display: inline-block;
  text-align: center;
}
.Two div div{
  padding: 20px;
  font-size: 1.5rem;
}


/*class Three*/
.Three div{
  margin: 20px;
}
.Three div{
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.Three div img{
  margin-left: 25vw;
  height:80vh;
  width:60vw;
}
.Three div h1, p{
  margin: 20px;
}

/*class Four*/

.Four div{
  display: flex;
  flex-wrap:wrap;
  margin-left: 25vw;
  margin-right: 25vw;
}
.Four div img{
  height:80px;
  width:100px;
  padding: 30px;
}

/*class Five*/
.Five{
  background-color: #53bbbb;
}
.Five div{
  text-align: center;
  margin: 20px;
  padding: 20px;
}
.Five div h2{
  display:inline-block;
  padding: 10px;
}


/*class Six*/
.Six{
  text-align: center;
}
.Six div{
  margin-left: 30vw;
  margin-right: 20vw;
}
.Six div div {
  display: flex;
  margin: 20px;
}
.Six div div img{
  padding: 20px;
}
.Six div div div h2{
  padding: 10px;
}
.Six div div div{
  display: flex;
  flex-direction: column;
  padding: 10px;
}






/*Footer*/
Footer{
  background-color: #53bbbb;
  color: white;
}
Footer div{
  display: flex;
  margin: 20px;
  margin-bottom: 0;
}
Footer div p{
  display: inline-block;
}
Footer div ul li a{
  color: white;
}
Footer div ul{
  display: flex;
}
Footer div ul li{
  list-style: none;
  padding: 20px;
}